<!DOCTYPE html>
	<html>
		<head>
			<link rel="stylesheet" href="style.css" />  
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body style="background-color:#F0F8FF;">
			<nav>
	    		<ul>
	        		<li><a font color="95A5A6" href="/">Home</a></li>
				<li><a font color="95A5A6" href="/about">About</a></li>
	        		<li><a font color="95A5A6" href="/cv">CV</a></li>
				<li><a font color="95A5A6" href="/research">Research</a></li>
				<li><a font color="95A5A6" href="/teaching">Teaching</a></li>
	        		<li><a font color="95A5A6" href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<div align="right"><li><a href="mailto:nibbelink@ku.edu">nibbelink@ku.edu</a></li>
					<li><a href="https://www.womenwhocode.com">Women Who Code</a></li>
				</ul>
			</footer>
		</body>
	</html>
