<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="/pubs">Research</a></li>
				<li><a href="/return">Equity in Education</a></li>
	        		<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:nibbelink@ku.edu">nibbelink@ku.edu</a></li>
	        		<li><a href="https://github.com/megannibbs">github.com/megannibbs</a></li>
				<li><a href="https://twitter.com/zosterophyllum"><img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftoppng.com%2Ffree-image%2Ftwitter-logo-PNG-free-PNG-Images_79864&psig=AOvVaw15ZJ3lB7Pyltoa6MRXivMK&ust=1651880915194000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCJjJ2YvGyfcCFQAAAAAdAAAAABAD" alt="Twitter logo"/>Twitter @zosterophyllum</a></li>
				<li><a href="https://www.researchgate.net/profile/Megan-Nibbelink">ResearchGate</a></li>
				<li><a href="https://www.womenwhocode.com">Women Who Code</a></li>
				</ul>
			</footer>
		</body>
	</html>
